body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    text-align: justify;
}
h1{
    font-size: 2rem;
    line-height: 1.3em;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
p{
    margin-bottom: 1em;
    line-height: 1.5em;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}
hr{
    margin-bottom: 1rem;
}
.al{
    margin-left: 1em;
    text-align: justify;
}
section ul li{
    text-align: justify;
}
.logoimagen{
    width: 80px;
    position: relative;
    margin-left: 1px;
}
.container{
    width: 85%;
    max-width: 900px;
    margin: 0 auto;
}
.header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgb(0, 0, 0);
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
    color: white;
    text-decoration: none;
    align-items: center;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    position: relative;
    padding-top: 1rem;
    letter-spacing: 15px;
    font-size: 2em;
}
.section ul li{
    line-height: 2em;
    text-justify: auto;
}
.section ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: left;
    line-height: 1em;
}
.menu-icon{
    display: none;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
        .navigation ul li a:hover {
            background: #03989e;
        }
section{
    background: #000000;
    background: -moz-linear-gradient(top,  #000000 7%, #03989e 50%, #000000 93%);
    background: -webkit-linear-gradient(top,  #000000 7%,#03989e 50%,#000000 93%);
    background: linear-gradient(to bottom,  #000000 7%,#03989e 50%,#000000 93%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
    margin-bottom: 0;
    padding-bottom: 4rem;
}
.justificado{
    text-align: justify;
}
.footer{
    background: black;
    padding: 4rem 0;
    text-align: center;
}
.footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;

}
    .footer ul li {
        display: inline-block;
    }
        .footer ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;
            color: white;
        }
        .footer ul li a:hover {
            background: #03989e;
        }
.gif{
    margin-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.main{
    padding-top: 12rem;
}
@media only screen and (max-width: 900px) {
    .menu-icon{
        display: block;
        cursor: pointer;
        padding:  0.5rem 1rem;
    }
    .navigation{
        width: 100%;
        margin-top: 1rem;   
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
        .navigation ul li {
            display: block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5px;
            }
            .navigation ul li a:hover {
                background: #03989e;
            }
    .main{
        margin-bottom: 0;
        padding-bottom: 6rem;
        margin-top: 0;
    }
    .logoimagen{
        width: 50px;
        position: relative;
        margin-left: 1px;
    }
    section{
        padding-top: 50px;
        margin-top: 0;
    }
}